<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=Edge">
  <title>小琳甜品房</title>
  <!-- CSS -->
  <link rel="stylesheet" href="/Dessert/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Dessert/css/main.css">
</head>
<body>
<div class="header">
  <div class="nav">
    <div class="navbar-brand">
      <img class="img-circle" src="/Dessert/img/logo.jpg" width="30px"/>
      <span>小琳甜品房</span>
    </div>
    <ul class="nav navbar-menu">
      <li><a id="home" href="/Dessert/index.html">小琳主页</a></li>
      <li><a id="catalog" href="/Dessert/view/catalog1.html">甜品目录</a></li>
      <li><a id="about" href="/Dessert/view/about.html">关于小琳</a></li>
    </ul>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input class="form-control" placeholder="输入关键字..." type="text">
      </div>
      <button class="btn btn-warning" type="submit">搜索</button>
    </form>
    <ul class="nav navbar-menu-right pull-right">
      <li><a id="login-btn" href="login.html">会员登录</a></li>
      <li><a>会员注册</a></li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="catalog-panel">
    <div class="panel panel-info">
      <div class="panel-heading">
        全部分类>
      </div>
      <div class="panel-body">
        <p>
          品牌：
          <a id="catalog1" class="btn btn-default" href="/Dessert/view/catalog1.html">catalog1</a>
          <a id="catalog2" class="btn btn-default" href="/Dessert/view/catalog2.html">catalog2</a>
          <a id="catalog3" class="btn btn-default" href="/Dessert/view/catalog3.html">catalog3</a>
          <a id="catalog4" class="btn btn-default" href="/Dessert/view/catalog4.html">catalog4</a>
        </p>
        <hr>
        <p>口味:</p>
        <hr>
        <p>净含量:</p>
      </div>
      <div class="panel-footer">
        <div class="catalog-box">
          <div class="panel panel-primary">
            <div class="panel-body">
              <img src="/Dessert/img/slider-1.jpeg">
            </div>
            <div class="panel-footer">
              稻香村糕点礼盒2000G北京特色小吃特产点心零食京八件双11allin
            </div>
          </div>
        </div>
        <div class="catalog-box">
          <div class="panel panel-primary">
            <div class="panel-body">
              <img src="/Dessert/img/slider-1.jpeg">
            </div>
            <div class="panel-footer">
              稻香村糕点礼盒2000G北京特色小吃特产点心零食京八件双11allin
            </div>
          </div>
        </div>
        <div class="catalog-box">
          <div class="panel panel-primary">
            <div class="panel-body">
              <img src="/Dessert/img/slider-1.jpeg">
            </div>
            <div class="panel-footer">
              稻香村糕点礼盒2000G北京特色小吃特产点心零食京八件双11allin
            </div>
          </div>
        </div>
        <div class="catalog-box">
          <div class="panel panel-primary">
            <div class="panel-body">
              <img src="/Dessert/img/slider-1.jpeg">
            </div>
            <div class="panel-footer">
              稻香村糕点礼盒2000G北京特色小吃特产点心零食京八件双11allin
            </div>
          </div>
        </div>
        <div class="catalog-box">
          <div class="panel panel-primary">
            <div class="panel-body">
              <img src="/Dessert/img/slider-1.jpeg">
            </div>
            <div class="panel-footer">
              稻香村糕点礼盒2000G北京特色小吃特产点心零食京八件双11allin
            </div>
          </div>
        </div>
        <div class="catalog-box">
          <div class="panel panel-primary">
            <div class="panel-body">
              <img src="/Dessert/img/slider-1.jpeg">
            </div>
            <div class="panel-footer">
              稻香村糕点礼盒2000G北京特色小吃特产点心零食京八件双11allin
            </div>
          </div>
        </div>

        <div style="clear: both"></div>
      </div>
    </div>
  </div>
</div>
<div style="height: 80px"></div>
<div class="footer">
  <p class="text-center">
    ©Wang Jialin 2016. All rights reserved.
  </p>
</div>
<!-- JS -->
<script src="/Dessert/js/jquery.min.js"></script>
<script src="/Dessert/js/jquery-cookie.min.js"></script>
<script src="/Dessert/js/bootstrap.min.js"></script>
<script src="/Dessert/js/common.js"></script>
<script src="/Dessert/js/main.js"></script>
<script>
  $(function(){
    $('#catalog').addClass('menu-hover');
    $('#catalog4').addClass('catalog-active');
  })
</script>
</body>
</html>